#spaceship-buttons p {
    display: flex;
    flex-flow: column nowrap;
}

#spaceship-buttons nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    height: 100%;
    margin: 2vh;
    transition: margin .2s;
}

#spaceship-buttons nav button {
    --btn-padding: 36px;
    --ltr-space: .8vw;
    --border-width: 2px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 22px 28px;
    min-height: 32%;
    max-height: 200px;
    border: var(--border-width) solid var(--fg);
    border-radius: 10px;
    font-size: .8em;
    font-weight: 500;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: var(--ltr-space);
    text-align: left;
    text-transform: uppercase;
    transition: color .4s, background-color .4s;
    cursor: pointer;
    user-select: none;
}

#spaceship-buttons nav.sn1 {
    margin: 3vh;
}

#spaceship-buttons nav.sn1 button:not(:disabled):hover {
    background-color: var(--bg);
}

#spaceship-buttons nav:is(.sn1,.sn3) button:not(:disabled):hover {
    color: var(--grey);
}

#spaceship-buttons nav:is(.sn1,.sn3) button:hover {
    border-color: #50545899;
}

#spaceship-buttons nav button span {
    height: 1em;
}

#spaceship-buttons nav button > span + span {
    padding: 2px 0 0 0;
    margin-right: -8px;
}

#spaceship-buttons nav button:disabled {
    color: #50545899;
    border-color: #50545899;
    transition: all .3s;
}

#spaceship-buttons nav button:disabled:hover {
    color: #90546d39 !important;
    cursor: default;
}

#spaceship-buttons nav button:disabled:hover:not(:active) {
    color: var(--fg);
}

#spaceship-buttons nav.sn2 button {
    padding: 16px 12px;
    font-size: .8em;
}

#spaceship-buttons nav:is(.sn1,.sn2) button:hover {
    position: relative;
    background-color: transparent;
    overflow: hidden;
}

#spaceship-buttons nav button > span + span {
    padding: 0 0 5px 0;
}

#spaceship-buttons nav:is(.sn1,.sn2) button:disabled:active {
    opacity: .6;
}

#spaceship-buttons nav:is(.sn1,.sn2) button:hover::before {
    box-sizing: border-box;
    content: '';
    z-index: -2;
    position: absolute;
    left: calc(-1*var(--border-width));
    top: calc(-1*var(--border-width));
    width: calc(100% + var(--border-width)*2);
    height: calc(100% + var(--border-width)*2);
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(var(--bg), #50545899), linear-gradient(transparent, transparent);
    border-radius: 0;
    animation: rotate 4s linear infinite;
}

#spaceship-buttons nav:is(.sn1,.sn2) button:hover::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    right: var(--border-width);
    bottom: var(--border-width);
    width: calc(100% - var(--border-width)*2);
    height: calc(100% - var(--border-width)*2);
    border-radius: inherit;
}

#spaceship-buttons nav.sn2 button:not(:disabled):hover::after {
    background: var(--bg);
}

#spaceship-buttons nav:is(.sn1,.sn2) button:disabled:hover::after {
    background: var(--primary);
}

#spaceship-buttons nav.sn3 {
  z-index: 0;
  position: relative;
  display: flex;
  padding: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  background-color: transparent;
}

#spaceship-buttons nav.sn3 button::after {
  transition: none;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
