*::selection,
a::selection,
button::selection, input::selection {
    color: #212d3b;
    background-color: #a1bfde;
}

h5 {
    font-size: .75em;
    font-weight: 300;
    font-family: 'Ubuntu', 'Lato', 'DM Sans', 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

p {
    font-size: .8em;
    font-weight: 300;
    font-family: 'Ubuntu', 'Lato', 'DM Sans', 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: .2px;
}

button.a:hover {
    text-decoration: underline;
}

header #navbar {
    transition: padding .1s, box-shadow .2s;
}

header.active #navbar {
    padding-top: calc(var(--nav-btn-height)/1);
    box-shadow: 10px 0 24px 3px var(--shadow);
}

.fade-in {
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    will-change: opacity, visibility;
    transition: opacity 1.6s ease-out, transform .8s ease-out;
}

.fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

nav button:hover,
nav a.button:hover {
    color: var(--primary);
    background-color: var(--fg);
    border-color: var(--brdr-color);
    cursor: pointer;
}

nav a.button:hover {
    text-decoration: none;
}

/*
nav button:hover::after,
nav button:focus::after,
nav a.button:hover::after,
nav a.button:focus::after {
    height: var(--brdr-width);
    opacity: 1;
    transform: scale(1);
}
*/
