:root {
    --primary: #321C36;
/*  --main-bg: #352326; */
    --main-bg: #392320;
    --header-bg: var(--main-bg);
    --fg: #cfcfcf;
    --bg: var(--primary);
    --shadow: #20121666;
    --grey: #302226;
    --highlight: #d1aacb;

    --brdr-color: #cfcfcfdf;
    --brdr-width: 1px;
    --brdr-radius: 5px;

    --font-size-0: calc(10px + 2vmin);
    --font-size-1: 19px;

    --nav-btn-height: 2vh;
    --nav-padding-height: 2.5vh;
    --nav-padding-width: 3vh;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    color: #dfdfdf;
    font-size: var(--font-size-0);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 105vh;
    background-color: var(--main-bg);
}

a,
button.a {
    color: var(--highlight);
}

a:not(:hover) {
    text-decoration: none;
}

button.a {
    background: none;
    border: none;
    padding: 0;
    font-size: var(--font-size-0);
    cursor: pointer;
}

header {
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    z-index: 1;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 5vh 0 2vh 0;
    padding: 3vh 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

footer,
footer button,
footer a {
    text-transform: lowercase;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0;
    margin-top: calc(var(--nav-btn-height) + 4vh);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
    padding: var(--nav-padding-height) var(--nav-padding-width);
    background-color: var(--header-bg);
}

nav button,
nav a.button {
    position: relative;
    padding: var(--nav-btn-height) 2vw;
    border-style: solid;
    border-color: transparent;
    border-width: var(--brdr-width);
    border-radius: var(--brdr-radius);
    background-color: transparent;
    color: var(--fg);
    font-size: var(--font-size-1);
    font-family: 'DM Sans', 'Ubuntu', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color .1s, color .2s, border-color .1s;
}

/*
nav :not(.right) button::after,
nav a.button:not(.right)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 0;
    transform: scale(0);
    transform-origin: center;
    background-color: var(--brdr-color);
    opacity: 0;
    transition: opacity .3s, transform .3s, height .6s;
}
*/

section.box {
    border: 1px solid var(--brdr-color);
    border-radius: var(--brdr-radius);
}

section text {
    padding: 3vh 1.5vw;
}

section .img-container {
    width: 350px;
    height: 350px;
    border: 1px solid var(--brdr-color);
    border-radius: var(--brdr-radius);
}
