#contacts .content {
    flex-flow: column nowrap;
    align-items: center;
    gap: .3em;
}

#contacts .list {
    display: flex;
    align-items: center;
    gap: .8em;
    color: var(--highlight);
}

#contacts .sep {
    display: inline-flex;
}

#contacts .sep::after {
    content: '•';
    font-size: .7em;
}
