@import 'icons.css';
@import 'music.css';
@import 'gallery.css';
@import 'events.css';
@import 'contacts.css';
@import 'newsletter.css';
@import 'card-grid.css';

:root {
    --btn-gradient: linear-gradient(
        -45deg,
        transparent 50%,
        color-mix(in srgb, var(--color1), #ca7281),
        color-mix(in srgb, var(--color2), #c65368),
        color-mix(in srgb, var(--color3), #b23461)
    );
}

*::selection,
a::selection,
button::selection, input::selection {
    color: #212d3b;
    background-color: var(--highlight);
}

h5, p {
    font-weight: 300;
    font-family: 'Ubuntu', 'Lato', 'DM Sans', 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

h5 {
    font-size: .75em;
}

p {
    font-size: .8em;
    letter-spacing: .2px;
}

a:hover {
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    will-change: opacity, visibility;
    transition: opacity 1.6s ease-out, transform .8s ease-out;
}

.fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.box {
    border: 1px solid var(--brdr-color);
    border-radius: var(--brdr-radius);
}

section .inner-content {
    min-width: 350px;
    min-height: 350px;
    border: 1px solid var(--brdr-color);
    border-radius: var(--brdr-radius);
}
