@media screen and (min-width: 1100px) {
  section {
    margin: 0 30rem;
  }

    footer {
      margin: 0 22%;
    }

  footer {
    gap: 1rem;
    position: fixed;
    padding: 1rem 0 .2rem;
  }

  .icons {
    gap: .5rem;
  }

  .content .focus {
    width: 620px;
    height: 496px;
  }

  .content .visual-item {
    gap: 7rem;
  }

  .content .visual-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .content .visual-item .visual {
    min-width: 300px;
    width: 22%;
  }
}
