@media screen and (min-width: 1100px) {
    section .container {
        padding: 0px 32px;
    }

    section .content {
        flex-flow: row nowrap;
        gap: 2.8em;
        padding: 2vh 0;
    }

    section#music iframe {
        width: 675px;
    }

    .modal-window .dialog-container {
        min-width: 500px;
        min-height: 400px;
    }
}
