footer {
    z-index: 1;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 5vh 0 2vh 0;
    padding: 3vh 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

footer,
footer button,
footer a {
    font-size: 20px;
    text-transform: lowercase;
}
