header {
    z-index: 10;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

header nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
    padding: var(--nav-padding-height) var(--nav-padding-width);
    background-color: var(--header-bg);
    transition: padding .1s, background-color .4s, box-shadow .2s;
}

header.active nav {
    padding: calc(var(--nav-padding-height)*0.8) calc(var(--nav-padding-width)*0.9);
    background-color: var(--gradient-3);
    box-shadow: 0 0 15px 1px var(--shadow);
}

header nav button,
header nav a.button {
    position: relative;
    padding: 0 2vw;
    height: var(--nav-btn-height);
    border-style: solid;
    border-color: transparent;
    border-width: var(--brdr-width);
    border-radius: var(--brdr-radius);
    background-color: transparent;
    background-image: var(--btn-gradient);
    background-size: 300% 200%;
    background-position: 90% 50%;
    color: var(--fg);
    font-size: var(--font-size-1);
    font-family: 'DM Sans', 'Ubuntu', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background .4s,
                color .2s,
                border-color .1s,
                box-shadow .1s,
                letter-spacing .6s,
                transform .2s;
}

header nav button:hover,
header nav a.button:hover {
/*  background-color: var(--fg); */
/*  background-image: linear-gradient(45deg, transparent, var(--fg)); */
    background-position: 0 0;
    border-color: var(--brdr-color);
    letter-spacing: 1.2px;
    cursor: var(--pointer);
}

nav button:hover:not(:active),
nav a.button:hover:not(:active) {
    box-shadow: 0 0 15px -4px var(--highlight);
}

nav a.button:hover {
    text-decoration: none;
}

nav button:active,
nav a.button:active {
    transform: scale(.92);
}
