.icon {
    display: inline-block;
    padding: 0;
    background-size: cover;
}

.music-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 10px;
}

.music-icons button {
    display: flex;
    border: 0px solid transparent;
    background-color: transparent;
}
