@import 'header.css';
@import 'footer.css';
@import 'modal.css';

:root {
    --dark-grey: #302226;
    --grey: #393939;
    --dark: #201216;
    --primary: #321C36;

    --fg: #cfcfcf;
    --bg: var(--primary);
/*  --alt-bg: #743E4C; */
    --alt-bg: #4B2F36;
    --shadow: var(--light-grey);
    --highlight: #d1aacb;

/*  --gradient-1: #ca7281; */
    --gradient-1: #ca7271;
    --gradient-1: #392320;
/*  --gradient-2: #c65368; */
    --gradient-2: #c64368;
    --gradient-2: #4B2F36;
/*  --gradient-3: #b23461; */
    --gradient-3: #b23451;
    --gradient-3: #743E4C;

/*  --main-bg: #352326; */
/*  --main-bg: #623925; */
/*  --main-bg: #924925; */
    --main-bg: #392320;
    --header-bg: transparent;
    --header-active-bg: var(--gradient-1);

    --brdr-color: #cfcfcfdf;
    --brdr-width: 1px;
    --brdr-radius: 3px;

    --font-size-0: 28px;
    --font-size-1: 18px;

    --nav-btn-height: 60px;
    --nav-padding-height: 2.5vh;
    --nav-padding-width: 3vh;

    --bg-image: url(../img/pfp.jpg);
    --bg-gradient: linear-gradient(
        -45deg,
        var(--gradient-1),
        var(--gradient-2),
        var(--gradient-3)
    );

    --cursor: default;
    --pointer: pointer;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    background-color: var(--gradient-1);
    background-image: var(--bg-gradient);
    background-size: cover;
    color: #dfdfdf;
    font-size: var(--font-size-0);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
    overflow: hidden;
    animation: bg-gradient 15s infinite;
}

body::before {
    content: '';
    z-index: -1;
    position: fixed;
    width: 150%;
    height: 250%;
    margin: -50% -25%;
    background-image: var(--bg-image);
    background-size: cover;
    filter: blur(50px) saturate(50%);
    opacity: .3;
    animation: gradient-fade 25s linear reverse infinite;
}

@keyframes bg-gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient-fade {
    50% {
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
    }
}

.App-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

a,
button.a {
    color: var(--highlight);
}

a:not(:hover) {
    text-decoration: none;
}

button.a {
    background: none;
    border: none;
    padding: 0;
    cursor: var(--pointer);
}

section {
    width: 100%;
    height: 100%;
    gap: 15vh;
}

section,
section .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

section .container {
    align-items: center;
    padding: 40px 60px;
}

section .content {
    display: flex;
}

section .content .text {
    min-width: 300px;
}
