@import 'header.css';
@import 'footer.css';
@import 'modal.css';

:root {
    --dark: #201216;
    --grey: #393939;
    --dark-grey: #302226;
    --light: #dfdfdf;

    --color1: #392320;
    --color2: #4B2F36;
    --color3: #743E4C;
/*  --color4: #623925; */
/*  --color5: #924925; */

    --primary: #321C36;
    --highlight: #d1aacb;

    --fg: var(--light);
    --alt-fg: #cfcfcf;
    --bg: var(--primary);
    --alt-bg: var(--color2);
    --shadow: var(--grey);

    --main-bg: var(--color1);
    --header-bg: transparent;

    --brdr-color: #cfcfcfdf;
    --brdr-width: 1px;
    --brdr-radius: 3px;

    --font-size-0: 28px;
    --font-size-1: 18px;

    --nav-btn-height: 60px;
    --nav-padding-height: 2.5vh;
    --nav-padding-width: 3vh;

    --bg-image: url(../img/pfp.jpg);

    --cursor: default;
    --pointer: pointer;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    background-color: var(--color3);
    background-size: cover;
    color: var(--fg);
    font-size: var(--font-size-0);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
    overflow: hidden;
    animation: bg-gradient 15s infinite;
}

body::before {
    content: '';
    z-index: -1;
    position: fixed;
    width: 150%;
    height: 250%;
    margin: -50% -25%;
    background-image: var(--bg-image);
    background-size: cover;
    filter: blur(50px) saturate(50%);
    opacity: .1;
    animation: gradient-fade 25s linear reverse infinite;
}

@keyframes bg-gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient-fade {
    50% {
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
    }
}

h4, p {
    margin: 0;
}

.App-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

a,
button.a {
    color: var(--highlight);
}

a:not(:hover) {
    text-decoration: none;
}

button.a {
    background: none;
    border: none;
    padding: 0;
    cursor: var(--pointer);
}

section {
    width: 100%;
    height: 100%;
    gap: 15vh;
}

section,
section .container {
    display: flex;
    flex-flow: column nowrap;
}

section .container {
    align-items: center;
}

section .content {
    display: flex;
}

section .content .text {
    min-width: 300px;
}
