@import url('https://fonts.googleapis.com/css?family=Lato:300');

:root {
  --bg-color: #131017;
  --fg-color: #e8e3e8;
  --brdr-color: #dcdee7;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

body, h1, h2, h3 {
  color: var(--fg-color);
}

h1 {
  font-family: "Lato", "Roboto", sans-serif;
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

a {
  color: var(--fg-color);
  text-decoration: none;
  transition: opacity .4s;
}

a:hover {
  transition: opacity .2s;
}

button {
  padding: 1em 2em;
  border-radius: 5px;
  border: .25em solid var(--bg-color);
  outline: 1px solid var(--fg-color);
  background-color: var(--bg-color);
  color: var(--fg-color);
  cursor: pointer;
  transition: background-color 50ms, color .5s, border-radius .1s;
}

button:hover {
  border-radius: 2px;
  background-color: var(--fg-color);
  color: var(--bg-color);
  transition: background-color .5s, color .2s, border-radius 50ms;
}

*[disabled] {
  color: #999;
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

a[disabled]:hover {
  opacity: 0.3;
}

#root {
  width: 100%;
}

main {
  margin: 3rem;
  padding: 5rem 0 8rem;
}

section, .content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section {
  gap: 5rem;
}

footer,
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 3em;
  border-top: 1px solid var(--brdr-color);
  background-color: var(--bg-color);
  font-weight: 300;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header button {
  font-size: 1.1rem;
  font-weight: bold;
}

a.link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .3rem;
}

img.icon {
  width: 1em;
  height: 1em;
}

a.link img.icon.invert {
  filter: invert(.77);
}

.content .focus iframe {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  aspect-ratio: 5/4;
}

.content .visual-items {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10rem;
  margin: 5rem 0;
}

.content .visual-item,
.content .visual-item .caption {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.content .visual-item .visual {
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  box-shadow: 1rem 1rem 5rem 1px #06050880;
  overflow: hidden;
}

.content .visual-item .visual img {
  width: 100%;
  height: 100%;
}

.content .visual-item .caption {
  flex-direction: column;
  gap: 1rem;
}

.content .visual-item .title {
  margin: 0;
  max-width: 35ch;
  cursor: default;
}

.album .caption .links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.album .caption a {
  font-weight: 700;
}

.album .caption a:not(:hover) {
  opacity: .8;
}

.album .caption .icons:not(:has(*)) {
  display: none;
}
