@media screen and (max-width: 1100px) {
  footer {
    flex-flow: column nowrap;
    gap: 3rem;
    position: relative;
    margin: 3rem;
    padding: 4rem 0;
  }

  .icons {
    gap: 1rem;
  }

  .content .focus iframe {
    width: 70vw;
  }

  @media screen and (max-width: 850px) {
    .content .focus iframe {
      aspect-ratio: 16/9;
    }
  }

  footer .separator {
    display: none;
  }

  .content .visual-item {
    flex-direction: column;
    gap: 5rem;
  }

  .content .visual-item .visual {
    width: 90%;
  }

  .album .caption .links {
    flex-direction: column;
  }
}
