@media screen and (max-width: 1100px) {
  footer {
    flex-flow: column nowrap;
    gap: 3rem;
    position: relative;
    margin: 3rem;
    padding: 4rem 0;
  }

  .icons {
    gap: 1rem;
  }

  footer .separator {
    display: none;
  }

  .content .visual-item {
    flex-direction: column;
    gap: 5rem;
  }

  .content .visual-item.mobile-reverse {
    flex-direction: column-reverse;
  }

  .content iframe {
  .content .visual-item .visual {
    width: 90%;
  }

  .album .caption .links {
    flex-direction: column;
  }
}
