.modal-window {
    --border-width: 1px;
    opacity: 0;
    transition: opacity .1s;
}

.modal-window:not(.active) {
    display: none;
}

.modal-window.active,
.modal-window .dialog-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.modal-window:hover {
    opacity: 1;
}

.modal-window.active {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(2px) brightness(60%) contrast(95%);
}

.modal-window .dialog-box {
    position: relative;
    padding: 35px 50px 22px;
    width: 100%;
    font-family: "Inconsolata", "Dejavu Sans Mono", monospace;
    background-color: var(--alt-bg);
    border: 4px outset transparent;
}

.modal-window .dialog-container .dialog-box {
    margin: var(--border-width);
}

.modal-window .dialog-container {
    display: flex;
    justify-content: stretch;
}

.modal-window .dialog-container {
    border: var(--border-width) solid var(--brdr-color);
}

.modal-window button {
    padding: 10px 12px;
    background-color: transparent;
    border-radius: var(--brdr-radius);
    font-size: var(--font-size-1);
}

.modal-window button:not(:hover) {
    border-color: transparent;
}

.modal-window .dialog-box .close-button {
    position: absolute;
    top: -6px;
    right: -6px;
    line-height: 1em;
    padding: 6px 9px 6px 6px;
    border-width: 0 0 2px 1px;
    border-style: outset;
    border-radius: 1.5px;
    color: var(--fg);
    background-color: transparent;
    cursor: var(--cursor);
    transition: color .1s, background-color .1s, border-color .01s, opacity .05s;
}

.modal-window .dialog-box .close-button:not(:hover) {
    border-color: transparent;
    opacity: .6;
}

.modal-window .dialog-box .close-button:hover {
    color: var(--bg);
    background-color: var(--brdr-color);
    cursor: var(--pointer);
}

.modal-window .dialog-box .nav-container {
    justify-content: center;
}
