#music {
    gap: 1em;
}

#music .container {
    margin: 2em 0 0 0;
}

section .player-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 350px;
}

section .player-container .text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .4em;
    padding: .6em;
}

#music .player-container iframe {
    height: 352px;
}
